<section>
  <%= form_with(url: 'login', method: 'post') do %>
    <%= label_tag :session_email, "Email" %>
    <%= email_field(:session, :email) %>

    <%= label_tag :session_password, "Password" %>
    <%= password_field(:session, :password) %>
    <%= submit_tag("Log In") %>
  <% end %>
</section>